html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primayry-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primayry-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primayry-white-color);
  color: var(--primayry-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}
address {
  font-style: normal;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* styl nav */
.page-header {
  background-color: #ccc;
}
.plus {
  background-color: rosybrown;
}
.photo {
  background-color: saddlebrown;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid black;
}
.list {
  padding: 0;
  margin: 0;
}

.logo {
  color: var(--primayry-text-color);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}
.site-nav {
  display: inline-flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primayry-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.main-nav {
  display: flex;
  justify-content: center;
}

/* hero */
.hero {
  outline: 2px solid red;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primayry-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--primayry-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primayry-white-color);
}
.hero-container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.plus {
  padding-bottom: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primayry-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* advantages */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primayry-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.title-list {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.feature {
  display: flex;
}
.feature-list {
  width: 270px;
}
.feature-list:not(:last-child) {
  margin-right: 30px;
}
/* work */
.work {
  margin-bottom: 50px;
  color: var(--primayry-text-color);
}
.pictures {
  display: flex;
  justify-content: center;
}

.work-photo:not(:last-child) {
  margin-right: 30px;
}
/* team */

.section.team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primayry-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.position {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.teams {
  display: flex;
  justify-content: center;
}
.team .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teams .item:not(:last-child) {
  margin-right: 30px;
}
/* footer */

.address {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
}
.address > .logo {
  color: var(--primayry-white-color);
}

.address-main {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--primayry-white-color);
}
.address-link {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* Portfolio.html */
/* Tabs list */
.filter {
  background-color: salmon;
}
.examples {
  background-color: skyblue;
  padding-top: 0;
}

.tabs-link {
  color: var(--primayry-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.tabs-link:hover,
.tabs-link:focus {
  color: var(--primayry-white-color);
  background-color: var(--accent-color);
}

/* work list */
.work-list {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--primayry-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-info {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}
